@import "src/scss/variables";

.tasks{
  .custom-switch{
    //width: 100px !important;
    //height: 30px !important;
    z-index: 100 !important;
  }
  .crud-btn{
    .fa-trash, .fa-pen {
      font-size: 1.3rem;
      color: $text;
    }
    &:hover{
      *{
        color: $secondary;
      }
    }

  }
  .task-passed{
    background-color: #ff8989;
  }
  .task-due-today{
    background-color: #facc7c;
  }
  .task-completed{
    background-color: #d5d5d5;
  }
}
