.header-row{
  height: 155px;
  .header-profile{
    width: 240px;
    height: 100%;
    background: rgb(47,93,98);
    background: linear-gradient(135deg, rgba(47,93,98,1) 0%, rgba(94,139,126,1) 100%);
    p{
      line-height: 10px;
      margin-bottom: 15px;
    }
  }
}
